// Fonts
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Salsa&display=swap");

// Override default variables before the import
// Your variable overrides
// $body-bg: #000;
// $primary: #0074d9;
// $danger: #ff4136;

// $body-bg: #000;
// $body-color: #111;

// Import Bootstrap and its default variables
@import "~bootstrap/scss/bootstrap.scss";

// Custom styles
body {
  font-family: "Lato", sans-serif;
}

.title {
  font-family: "Salsa", cursive;
  // font-size: 72px;
  background: -webkit-linear-gradient(#22255b, #5106ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@function theme-color-level($color-name: "primary", $level: 0) {
  $color: theme-color($color-name);
  $color-base: if($level > 0, #000, #fff);
  $level: abs($level);

  @return mix($color-base, $color, $level * $theme-color-interval);
}

@media (prefers-color-scheme: light) {
  body {
    background-color: #343a40;
    background-color: #343a40;

    color: white;

    .card {
      background-color: #343a40;
      color: white;
    }

    .form-control {
      background-color: #343a40;
      color: white;
    }
  }
}
